<section class="modal-overlay" id="overlay">
    <div class="modal" id="modal">

        <div class="modal-header">
            <h3>Editar</h3>
            <a href="/" id="close-modal-put">X</a>
        </div>

        <div class="modal-body">
            
                <form class="form-modal" id="cadastro" method="post" action="/update/<% listFilmes.id %> ">
                    <label for="nome_filme">Filme:</label>
                    <input type="text" id="nome_filme" name="nome_filme" value="<% listFilmes.nome_filme %>" placeholder="Filme" required>
                    <label for="diretor">Diretor:</label>
                    <input type="text" id="diretor" name="diretor" <% listFilmes.diretor %> placeholder="Diretor" required >
                    <label for="sinopse">Sinopse:</label>
                    <input type="text" id="sinopse" name="sinopse" <% listFilmes.sinopse %> placeholder="Sinopse" required>
                    <label for="ano">Ano:</label>
                    <input type="number" id="ano" name="ano" <% listFilmes.ano %> placeholder="Ano" required>
                    <label for="duracao">Duração:</label>
                    <input type="text" id="duracao" name="duracao" <% listFilmes.duracao %> placeholder="Duracao" required>
                    <label for="img">Imagem:</label>
                    <input type="text" id="img" name="img" <% listFilmes.img %> placeholder="Imagem" required>
                    <label for="iframe">Iframe:</label>
                    <input type="text" id="iframe" name="iframe" <% listFilmes.iframe %> placeholder="Iframe" required>
                    <button type="submit"><strong>Atualizar</strong></button>
                </form>
    
    </div>
</section>