<nav>
  <div class="routers">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cadastro.ejs">Criar</a></li>
    </ul>
  </div>
  <div id="tituloMobile">
      <h1>CineLândia</h1>
  </div>
  <button class="iconeMenu">
    <span id="hamburger"></span>
  </button>
</nav>
